.work_wrap {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    // background: #000;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    z-index: 2;

    &::before {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        clip-path: circle(140.9% at 0 0);
        // clip-path: circle(0 0 at 0 0);
        animation: slideInDown 1s ease-out;
        position: absolute;

        @keyframes slideInDown {
            from {
                clip-path: circle(8% at 0 0);
                // clip-path: circle(140.9% at 0 0);
            }
        }
    }

    .bg_img_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 38vw;
        height: 50vw;
        transform: translate(-50%, -50%) rotate(45deg);
        // background-color: #fff;

        @keyframes rotateInDownLeft {
            from {
                opacity: 0;
                transform-origin: left bottom;
                transform: rotate(-90deg);
            }

            to {
                opacity: 1;
                transform-origin: left bottom;
                transform: rotate(0deg);
            }
        }

        .bg_img {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            width: 38vw;
            height: 50vw;
            background-image: url(../../image/youtube.jpg);
            background-position: center;
            background-size: cover;
            // transform: translate(-50%, -50%) rotate(45deg);
            z-index: 0;
            animation: rotateInDownLeft, fai 1s ease-out;


            &::after {
                content: '';
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                z-index: 1;
            }
        }
    }


    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--main-bg);
        text-transform: uppercase;
        font-size: 15vw;
        font-family: var(--fontKud);
        line-height: 1;
        letter-spacing: -10px;
    }

    .bottom_info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 2vw;
        z-index: 1;


        .work_info {
            width: 33.3333%;

            .work_title {
                color: #923538;
                text-transform: uppercase;
                font-size: 1.2vw;
                line-height: 1;
                margin-bottom: 1vw;
            }

            .work_desc {
                color: var(--main-bg-Deep);
                font-size: 1.1vw;
            }

            .work_button {
                width: 12vw;
                height: 2vh;
                margin: 0 auto;
                background-image: url(../../image/arrow2.svg);
                background-position: center;
                background-size: contain;
                cursor: pointer;
                background-repeat: no-repeat;
            }

            &.left {
                text-align: left;

                .work_desc {
                    width: 40%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    word-break: keep-all;

                    span {
                        margin-right: 1vw;
                    }
                }
            }

            &.center {
                text-align: center;

                .work_desc {
                    font-size: 1vw;
                    margin-bottom: 2vw;
                }
            }

            &.right {
                text-align: right;

                .work_desc {
                    span {
                        display: inline-block;
                        width: 70%;
                        word-break: keep-all;
                    }
                }
            }
        }
    }
}